.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  height: 30dvh;
}
.btn {
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after{
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: #333;
left: 0;
top: 0;
border-radius: 10px;
}
.btn::before{
  content: "";
  background: linear-gradient(45deg, #ed0606, #e56700, #f4f000
  , #00ff3c, #00ffee, #0400ff, #ff00ee, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  border-radius: 10px;  
  opacity: 1;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
.btn:hover::before {
  opacity: 1;
  color: #000;
}
.btn:hover::after {
  background: transparent;
}
.btn:hover {
  color: #000;
  font-weight: bold;
}